### Javier Alemán Rodríguez

# Transformación de datos

Este archivo tiene la finalidad de generar un documento csv sobre el que se trabajará en la visualización de datos, la clusterización y el procesamiento.

### Importación de pandas

In [1]:
import pandas as pd

### Obtención de datos

Recogemos los datos desde GitHub y los visualizamos para analizarlos.

In [56]:
repository = 'https://raw.githubusercontent.com/JaviARo/Cuadernos-iPython/master/Proyecto_final/world-data-2023.csv'

df = pd.read_csv(repository, sep=',')
columns = df.columns.values

In [57]:
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [29]:
columns

array(['Country', 'Density\n(P/Km2)', 'Abbreviation',
       'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size',
       'Birth Rate', 'Calling Code', 'Capital/Major City',
       'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code',
       'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP',
       'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language',
       'Out of pocket health expenditure', 'Physicians per thousand',
       'Population', 'Population: Labor force participation (%)',
       'Tax revenue (%)', 'Total tax rate', 'Unemployment rate',
       'Urban_population', 'Latitude', 'Longitude'], dtype=object)

### Eliminamos columnas

In [47]:
df = df.drop(columns=["Abbreviation", "Calling Code", "Capital/Major City", "Currency-Code", "Largest city"], axis=1)

### Rellenamos valores nulos con 0

In [48]:
cols_to_fill_0 = [
  "Land Area(Km2)", 
  "Armed Forces size", 
  "Minimum wage"
]

df = df.map(lambda x: x.replace('$', '') if isinstance(x, str) else x) # Quitamos los símbolos $
df[cols_to_fill_0] = df[cols_to_fill_0].fillna(0)

### Rellenamos valores nulos con la media

In [49]:
cols_to_fill_mean = [
  "Birth Rate", 
  "Fertility Rate", 
  "Forested Area (%)", 
  "Gasoline Price", 
  "Infant mortality", 
  "Out of pocket health expenditure", 
  "Physicians per thousand", 
  "Population: Labor force participation (%)", 
  "Tax revenue (%)", 
  "Total tax rate", 
  "Unemployment rate"
]

df = df.map(lambda x: x.replace('%', '') if isinstance(x, str) else x)  # Quitamos los símbolos %
# Convertimos los datos a numéricos para poder calcular la media
df[cols_to_fill_mean] = df[cols_to_fill_mean].apply(pd.to_numeric, errors='coerce')
df[cols_to_fill_mean] = df[cols_to_fill_mean].fillna(df[cols_to_fill_mean].mean())

### Rellenamos los valores faltantes de idioma oficial

In [50]:
df["Official language"] = df["Official language"].fillna("None")

In [51]:
df

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,58.10,"652,230","323,000",32.49,"8,672",149.9,2.30,4.47,...,78.4,0.28,"38,041,754",48.900000,9.300000,71.400000,11.120000,"9,797,273",33.939110,67.709953
1,Albania,105,43.10,"28,748","9,000",11.78,"4,536",119.05,1.40,1.62,...,56.9,1.20,"2,854,191",55.700000,18.600000,36.600000,12.330000,"1,747,593",41.153332,20.168331
2,Algeria,18,17.40,"2,381,741","317,000",24.28,"150,006",151.36,2.00,3.02,...,28.1,1.72,"43,053,054",41.200000,37.200000,66.100000,11.700000,"31,510,100",28.033886,1.659626
3,Andorra,164,40.00,468,0,7.20,469,NaN,NaN,1.27,...,36.4,3.33,"77,142",62.738068,16.573964,40.822404,6.886364,"67,873",42.506285,1.521801
4,Angola,26,47.50,"1,246,700","117,000",40.73,"34,693",261.73,17.10,5.52,...,33.4,0.21,"31,825,295",77.500000,9.200000,49.100000,6.890000,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,24.50,"912,050","343,000",17.88,"164,175","2,740.27",254.90,2.27,...,45.8,1.92,"28,515,829",59.700000,16.573964,73.300000,8.800000,"25,162,368",6.423750,-66.589730
191,Vietnam,314,39.30,"331,210","522,000",16.75,"192,668",163.52,2.80,2.05,...,43.5,0.82,"96,462,106",77.400000,19.100000,37.600000,2.010000,"35,332,140",14.058324,108.277199
192,Yemen,56,44.60,"527,968","40,000",30.45,"10,609",157.58,8.10,3.79,...,81.0,0.31,"29,161,922",38.000000,16.573964,26.600000,12.910000,"10,869,523",15.552727,48.516388
193,Zambia,25,32.10,"752,618","16,000",36.19,"5,141",212.31,9.20,4.63,...,27.5,1.19,"17,861,030",74.600000,16.200000,15.600000,11.430000,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,41.90,"390,757","51,000",30.68,"10,983",105.51,0.90,3.62,...,25.8,0.21,"14,645,468",83.100000,20.700000,31.600000,4.950000,"4,717,305",-19.015438,29.154857

### Eliminamos los registros que se quedaron con valores nulos

In [52]:
df = df.dropna()

In [53]:
df

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,58.10,"652,230","323,000",32.49,"8,672",149.9,2.30,4.47,...,78.4,0.28,"38,041,754",48.900000,9.300000,71.4,11.120000,"9,797,273",33.939110,67.709953
1,Albania,105,43.10,"28,748","9,000",11.78,"4,536",119.05,1.40,1.62,...,56.9,1.20,"2,854,191",55.700000,18.600000,36.6,12.330000,"1,747,593",41.153332,20.168331
2,Algeria,18,17.40,"2,381,741","317,000",24.28,"150,006",151.36,2.00,3.02,...,28.1,1.72,"43,053,054",41.200000,37.200000,66.1,11.700000,"31,510,100",28.033886,1.659626
4,Angola,26,47.50,"1,246,700","117,000",40.73,"34,693",261.73,17.10,5.52,...,33.4,0.21,"31,825,295",77.500000,9.200000,49.1,6.890000,"21,061,025",-11.202692,17.873887
5,Antigua and Barbuda,223,20.50,443,0,15.33,557,113.81,1.20,1.99,...,24.3,2.76,"97,118",62.738068,16.500000,43.0,6.886364,"23,800",17.060816,-61.796428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,24.50,"912,050","343,000",17.88,"164,175","2,740.27",254.90,2.27,...,45.8,1.92,"28,515,829",59.700000,16.573964,73.3,8.800000,"25,162,368",6.423750,-66.589730
191,Vietnam,314,39.30,"331,210","522,000",16.75,"192,668",163.52,2.80,2.05,...,43.5,0.82,"96,462,106",77.400000,19.100000,37.6,2.010000,"35,332,140",14.058324,108.277199
192,Yemen,56,44.60,"527,968","40,000",30.45,"10,609",157.58,8.10,3.79,...,81.0,0.31,"29,161,922",38.000000,16.573964,26.6,12.910000,"10,869,523",15.552727,48.516388
193,Zambia,25,32.10,"752,618","16,000",36.19,"5,141",212.31,9.20,4.63,...,27.5,1.19,"17,861,030",74.600000,16.200000,15.6,11.430000,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,41.90,"390,757","51,000",30.68,"10,983",105.51,0.90,3.62,...,25.8,0.21,"14,645,468",83.100000,20.700000,31.6,4.950000,"4,717,305",-19.015438,29.154857

### Almacenamos el dataframe modificado en un csv

In [55]:
df.to_csv("world-data-2023-modified.csv", index=False)