Javier Alemán Rodríguez

# Predicción de riesgo crediticio de clientes

## Variables

Attribute1 <span style="color: green;">(Categorica)</span>: Estado de la cuenta corriente existente

Attribute2 <span style="color: blue;">(Entera)</span>: Duración (meses)

Attribute3 <span style="color: green;">(Categorica)</span>: Historial crediticio

Attribute4 <span style="color: green;">(Categorica)</span>: Propósito

Attribute5 <span style="color: blue;">(Entera)</span>: Cantidad de crédito

Attribute6 <span style="color: green;">(Categorica)</span>: Cuenta de ahorros

Attribute7 <span style="color: green;">(Categorica)</span>: Empleo actual

Attribute8 <span style="color: blue;">(Entera)</span>: Tasa de pago a plazos en porcentaje del ingreso disponible

Attribute9 <span style="color: green;">(Categorica)</span>: Estado personal y sexo (Estado civil)

Attribute10 <span style="color: green;">(Categorica)</span>: Otros deudores


Attribute11 <span style="color: blue;">(Entera)</span>: Recidencia actual

Attribute12 <span style="color: green;">(Categorica)</span>: Propiedad

Attribute13 <span style="color: blue;">(Entera)</span>: Edad (Años)

Attribute14 <span style="color: green;">(Categorica)</span>: Otros planes de pago

Attribute15 <span style="color: green;">(Categorica)</span>: Alojamiento

Attribute16 <span style="color: blue;">(Entera)</span>: Cuenta de ahorros

Attribute17 <span style="color: green;">(Categorica)</span>: Empleo

Attribute18 <span style="color: blue;">(Entera)</span>: Número de personas responsables de proporcionar mantenimiento a

Attribute19 <span style="color: yellow;">(Binaria)</span>: Teléfono

Attribute20 <span style="color: yellow;">(Binaria)</span>: Trabajor extranjero

<span style="color: red;">Variable objetivo:</span> class <span style="color: yellow;">(Binaria)</span>: 1 = Bueno, 2 = Malo

## Extracción y visualizado de datos

### Importación de librerías

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

### Importación de datos

In [5]:
repository = 'https://raw.githubusercontent.com/JaviARo/Datasets/main/statlog%2Bgerman%2Bcredit%2Bdata/german.data'

german_credit_data = pd.read_csv(repository, sep=' ', header=None)

german_credit_data.columns = [
  'checking_account_status', 
  'duration', 
  'credit_history', 
  'purpose', 
  'credit_amount', 
  'saving_account',
  'present_employment_since',
  'installment_rate',
  'personal_status_and_sex',
  'other_debtors',
  'present_recidence_since',
  'property',
  'age',
  'other_installment_plans',
  'housing',
  'existing_credits',
  'job',
  'people_maintained',
  'telephone',
  'foreing_worker',
  'class'
]

german_credit_data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,saving_account,present_employment_since,installment_rate,personal_status_and_sex,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,people_maintained,telephone,foreing_worker,class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [6]:
for columna in german_credit_data.columns:
  num_valores_unicos = german_credit_data[columna].nunique()
  print(f'Número de valores únicos en la columna {columna}: {num_valores_unicos}')

Número de valores únicos en la columna checking_account_status: 4
Número de valores únicos en la columna duration: 33
Número de valores únicos en la columna credit_history: 5
Número de valores únicos en la columna purpose: 10
Número de valores únicos en la columna credit_amount: 921
Número de valores únicos en la columna saving_account: 5
Número de valores únicos en la columna present_employment_since: 5
Número de valores únicos en la columna installment_rate: 4
Número de valores únicos en la columna personal_status_and_sex: 4
Número de valores únicos en la columna other_debtors: 3
Número de valores únicos en la columna present_recidence_since: 4
Número de valores únicos en la columna property: 4
Número de valores únicos en la columna age: 53
Número de valores únicos en la columna other_installment_plans: 3
Número de valores únicos en la columna housing: 3
Número de valores únicos en la columna existing_credits: 4
Número de valores únicos en la columna job: 4
Número de valores únicos en la columna people_maintained: 2
Número de valores únicos en la columna telephone: 2
Número de valores únicos en la columna foreing_worker: 2
Número de valores únicos en la columna class: 2

In [8]:
le = LabelEncoder()

pd.options.mode.copy_on_write = True

categorical_cols = [
  'checking_account_status', 
  'credit_history', 
  'purpose', 
  'saving_account',
  'present_employment_since',
  'personal_status_and_sex',
  'other_debtors',
  'property',
  'other_installment_plans',
  'housing',
  'job',
  'telephone',
  'foreing_worker',
]

for col in categorical_cols: 
	german_credit_data[col] = le.fit_transform(german_credit_data[col])

In [9]:
german_credit_data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,saving_account,present_employment_since,installment_rate,personal_status_and_sex,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,people_maintained,telephone,foreing_worker,class
0,0,6,4,4,1169,4,4,4,2,0,...,0,67,2,1,2,2,1,1,0,1
1,1,48,2,4,5951,0,2,2,1,0,...,0,22,2,1,1,2,1,0,0,2
2,3,12,4,7,2096,0,3,2,2,0,...,0,49,2,1,1,1,2,0,0,1
3,0,42,2,3,7882,0,3,2,2,2,...,1,45,2,2,1,2,2,0,0,1
4,0,24,3,0,4870,0,2,3,2,0,...,3,53,2,2,2,2,2,0,0,2

In [13]:
min_max_scaler = preprocessing.MinMaxScaler()
german_credit_data = min_max_scaler.fit_transform(german_credit_data)
german_credit_data

array([[0.        , 0.02941176, 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.33333333, 0.64705882, 0.5       , ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.11764706, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.11764706, 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.60294118, 0.5       , ..., 1.        , 0.        ,
        1.        ],
       [0.33333333, 0.60294118, 1.        , ..., 0.        , 0.        ,
        0.        ]])